*{
    background-color: #EEF0E5;
}

h1,h2{
    color: #092635;
}
button{
    background-color: #163020;
    font-weight: 900;
    color: #EEF0E5;
}

#login{
    width: 80px;
    height: 40px;
    font-size: 15px;
}

span{
    color: #200E3A;
}

.tag{
    background-color:#161A30 ;
    color: #F0ECE5;
}

.section span a{
    color: #200E3A;
    
}

footer  a{
    color: red;
}

/* Adjuscent selector */

button + button{
    background-color: rgb(122, 7, 109);
}

/* direct child seletcor */
footer > a{
    color: rgb(217, 255, 0);
}

/* attribute selector */

input[type="text"]{
    color: blue;
}

input[type="password"]{
    color: red;
}

a[href*="/"]{
    text-decoration: none;
}