div{
    width: 250px;
    height: 250px;
    text-align: justify;
    margin: 10px;
}


.b1{
    border-width: 2px;
    border-style: solid;
    border-color: red;
    border-radius: 30px;
}

.b2{
    border: 3px solid red;
    border-radius: 20% 40%; 
}
.b3{
    border: 6px dotted green;
    border-radius: 10% 30% 50% 70%;
}

.b4{
    border: 5px dashed;
    border-radius: 20% /50%;
}

.b5{
    border:5px inset purple;
    border-radius: 10% 30% / 60%;
}

.b6{
    border-left: solid rgb(60, 12, 84);
    border-top: dashed #d6920b;
    border-bottom: dotted #000;
    border-right:  5px double skyblue;
    border-radius: 50% 20% / 10% 40%;
}