div{
    width: 200px;
    height: 200px;
    background-color: green;
    display: inline-block;

}

h1{
    background-color: pink;
    display: inline;
}

span{
    background-color: red;
    width: 100px;
    display: block;
}