div{
    width: 250px;
    height: 250px;
    text-align: justify;
    margin: 10px;
}


.b1{
    border-width: 2px;
    border-style: solid;
    border-color: red;
    border-radius: 30px;
    padding: 20px ;
}

.b2{
    border: 3px solid red;
    border-radius: 20% 40%; 
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 70px;
}
.b3{
    border: 6px dotted green;
    border-radius: 10% 30% 50% 70%;
    padding: 40px 80px;
}

.b4{
    border: 5px dashed;
    border-radius: 20% /50%;
    padding: 5% 10% 8%;
}

.b5{
    border:5px inset purple;
    border-radius: 10% 30% / 60%;
    padding: 1em 15em 2em 10em;
}

.b6{
    border-left: solid rgb(60, 12, 84);
    border-top: dashed #d6920b;
    border-bottom: dotted #000;
    border-right:  5px double skyblue;
    border-radius: 50% 20% / 10% 40%;
    padding: inherit;
}